html {
  width: 100%;
  justify-content: center;
  display: flex;
}

body {
  background-color: #161b1c;
  width: 100%;
  max-width: 1440px;
  justify-content: center;
  align-items: center;
}

a {
  color: rgb(37, 184, 217);
  text-decoration: none;
}
a:hover {
  color: #a7e3f0;
  border-bottom: 1px solid #a7e3f0;
}
a:visited {
  color: #166e82;
  border-bottom: 1px solid #166e82;
}

/* body {
    display: flex;
    justify-content: center;
} */
.app {
  display: flex;
  justify-content: center;
  padding: 15px;
  height: 100%;
}

.main-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(37, 184, 217);
  text-align: center;
}

#left-container {
  justify-content: center;
  height: auto;
  display: block;
  width: 40%;
  margin-right: 4px;
  align-items: center;
  padding-right: 40px;
}
#left-container h2,
#left-container h3 {
  /* This is to align the headings 
  to the right, since there is a padding of 40px on the right
  of the container they're in "#left-container"*/
  margin-top: 5px, 5px, 0, 0;
  letter-spacing: 0.07em;
}

#right-container {
  justify-content: center;
  width: 60%;
  height: 100%;
}
#right-container h1 {
  margin: 0px;
}
#right-container img {
  max-height: 100%;
  height: auto;
  max-width: 100%;
}

#editor,
#preview,
#documentation-area {
  border: none;
  border-radius: 4px;
  padding-left: 10px;
  padding-top: 10px;
  overflow-y: scroll;
}

#editor {
  color: rgb(37, 184, 217);
  background-color: black;
  height: 40vh;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  resize: none;
  overflow-y: scroll;
}

#documentation-area {
  color: rgb(37, 184, 217);
  background-color: black;
  height: 36vh;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25em;
  resize: none;
}

#preview {
  color: rgb(231, 222, 222);
  background-color: #21292a;
  border: 2px solid rgb(37, 184, 217);
  padding-right: 12px;
  letter-spacing: 0.05em;
  text-align: left;
  overflow: scroll;
  height: 90vh;
}/*# sourceMappingURL=style.css.map */