$bgrndClrDrkPrime: rgb(34, 33, 33);
$bgrndClrDrkn: darken($bgrndClrDrkPrime, 10%);
$bgrndClrLtn: lighten($bgrndClrDrkPrime, 10%);
$primeClr: rgb(36, 166, 195);
$secondClr: rgb(231, 222, 222);
$linkClr: $primeClr;
$linkHvrClr: lighten($linkClr, 30%);
$linkVisited: darken($linkClr, 20%);
$editorText: 'Courier New', Courier, monospace;
$mainFont: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


html {
    background-color: $bgrndClrDrkPrime;
}

a {
    color: $linkClr;
    text-decoration: none;

    &:hover {
        color: $linkHvrClr;
        border-bottom: 1px solid $linkHvrClr;
    }

    &:visited {
        color: $linkVisited;
        border-bottom: 1px solid $linkVisited;
    }

    ;
}

/* body {
    display: flex;
    justify-content: center;
} */

.app {
    display: flex;
    justify-content: center;
    padding: 15px;
    height: 100%;
}

.main-text {
    font-family: $mainFont;
    color: $primeClr;
    text-align: center;
}

#left-container {
    justify-content: center;
    height: auto;
    display: block;
    width: 40%;
    margin-right: 4px;
    align-items: center;
    padding-right: 40px;

    h2,
    h3 {
        padding-left: 40px;
        /* This is to align the headings 
        to the right, since there is a padding of 40px on the right
        of the container they're in "#left-container"*/
        margin-top: 5px, 5px, 0, 0;

    }
}

#right-container {
    justify-content: center;
    width: 60%;
    height: 100%;

    h1 {
        margin: 0px;
    }

    img {
        max-height: 100%;
        height: auto;
        max-width: 100%;

    }
}

#editor,
#previewer,
#documentation-area {
    border: none;
    border-radius: 4px;
    padding-left: 10px;
    padding-top: 10px;
}

#editor {
    color: $primeClr;
    background-color: $bgrndClrDrkn;
    height: 40vh;
    width: 100%;
    font-family: $editorText;
    resize: none;
    overflow-y: scroll;
}

#documentation-area {
    color: $primeClr;
    background-color: $bgrndClrDrkn;
    height: 36vh;
    width: 100%;
    font-family: $mainFont;
    resize: none;
}

#previewer {
    color: $secondClr;
    background-color: $bgrndClrLtn;
    border: 2px solid $primeClr;
    padding-right: 12px; // +2px because of border size.
    letter-spacing: .05em;
    text-align: left;
    overflow: scroll;
    height: 90vh;
}